version: 2.1

jobs:
  build:
    
    docker: 
      - image: circleci/python:3.8

    steps:
      - checkout

      - run:
          command: ls -lh

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            
      - run:
          command: python -m unittest

